.item {
  width: 15em;
  height: 15em;
  border: 1px solid red;
  margin: 25px 25px;
  font-size: 22px;
}

.item .todo-title {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.item .todo-title .todo-close {
  margin: 3px;
}

.item .todo-title .todo-close:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.item .todo-description {
  padding: 10px;
  word-wrap: break-word;
}

.item:nth-child(3n) {
  transform: rotate(-6deg);
  background-color: #fff740;
}

.item:nth-child(3n-1) {
  transform: rotate(7deg);
  background-color: #ff65a3;
}

.item:nth-child(3n-2) {
  transform: rotate(-2deg);
  background-color: #7afcff;
}

