.item {
  width: 13em;
  height: 13em;
  margin: 25px 25px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.todo-title {
  display: flex;
  justify-content: flex-end;
  margin: 3px;
  align-items: flex-start;
  flex-grow: 1;
}

.todo-title .todo-close {
  margin: 3px;
  font-size: 30px;
  margin-right: 4px;
}

.todo-title .todo-close:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.todo-description {
  padding: 10px;
  word-wrap: break-word;
  flex-grow: 3
}

.item:nth-child(3n) {
  transform: rotate(-6deg);
}

.item:nth-child(3n-1) {
  transform: rotate(7deg);
}

.item:nth-child(3n-2) {
  transform: rotate(-2deg);
}

.todo-complete {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3px;
}

.edit-btn {
  border: 0;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
  font-size: .7rem
}

.edit-btn:hover {
  cursor: pointer;
}

.check-mark:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.fromNow {
  font-size: 1rem;
}

.completed {
  background-color: #fff !important;
  background-image: linear-gradient(rgba(124,252,0,0.7), rgba(0,100,0,0.7)), url('https://www.iconsdb.com/icons/preview/green/checkmark-xxl.png');
  background-size: cover;
  background-position: center;
}